@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
    }
  }
}

.animate-in {
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-name: enter;
}

.fade-in {
  --tw-enter-opacity: 0;
}
